SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,testserver
CORS_ALLOW_ALL_ORIGINS=True

PAYMOB_API_KEY=your_paymob_api_key
PAYMOB_INTEGRATION_ID=5628926
PAYMOB_HMAC_SECRET=your_paymob_hmac_secret
COMMISSION_AMOUNT=20
